#root {
  padding: 2rem;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

.card {
  padding: 2em;
  min-width: 450px;
  margin: auto;
}

.tile-grid-container {
  display: flex;
  justify-content: center;
}