html {
  overflow-x: hidden;
}

/* For WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
    z-index: 10;
}

[data-theme='dark'] ::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 10px;
}

[data-theme='dark'] ::-webkit-scrollbar-thumb:hover {
  background: #BB86FC;
}


[data-theme='light'] ::-webkit-scrollbar-thumb {
  background: #a5a5a5;
  border-radius: 10px;
}

[data-theme='light'] ::-webkit-scrollbar-thumb:hover {
  background: #BB86FC;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Dark theme colors */
  --background-color-dark: #121212;
  --primary-text-color-dark: #E0E0E0;
  --secondary-text-color-dark: #BDBDBD;
  --accent-color-dark: #BB86FC;
  --hover-color-dark: #3700B3;
  --error-color-dark: #CF6679;

  /* Light theme colors */
  --background-color-light: #FFFFFF;
  --primary-text-color-light: #212121;
  --secondary-text-color-light: #757575;
  --accent-color-light: #6200EE;
  --hover-color-light: #9A67EA;
  --error-color-light: #B00020;

  --icon-color: white;
  --icon-hover-color: #646cff;
}

[data-theme='dark'] {
  color: var(--primary-text-color-dark);
  background-color: var(--background-color-dark);
  /* Other dark theme styles */
}

[data-theme='light'] {
  color: var(--primary-text-color-light);
  background-color: var(--background-color-light);
  /* Other light theme styles */
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.slideMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  background: linear-gradient(90deg, rgba(18, 18, 18, 1) 0%, rgba(24, 24, 24, 1) 100%);
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  z-index: 110;
  color: white;
}

.slideMenu.open {
  transform: translateX(0);
}

.slideMenu .top-menu-link a {
  display: block;
  color: #ffffff;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

.slideMenu .lower-menu-links a {
  display: block;
  color: #ffffff;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 1px solid #444;
}

.slideMenu .bottom-menu-text {
  bottom: 0;
  position: absolute;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-family: "RobotoMono Regular", monospace;
  cursor: pointer;
}

.slideMenu .bottom-menu-text:hover {
  text-decoration: underline;
}

.slideMenu a:hover {
  background-color: #242424;
  color: #BB86FC;
}

[data-theme='dark'] .slideMenu,
[data-theme='light'] .slideMenu {
  transform: translateX(0);
}

.menuCloseButton {
  position: absolute;
  top: -1px;
  right: -64px;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

.menuCloseButton:hover {
  color: #ccc;
}

.logo {
  max-width: 50px;

  padding-left: 8px;
  padding-right: 8px;
}

.logo-menu {
  max-width: 60px;
  padding: 2px;
  margin-left: 8px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon {
  color: var(--icon-color);
  transition: color 0.3s ease;
  max-width: 20px;
}

.heart-icon,
.search-icon {
  max-height: 20px;
}

.icon:hover {
  color: #BB86FC;
}

.heart-icon:hover {
  color: red;
}

.search-icon:hover {
  color: #BB86FC;
}

.icon:active {
  transform: scale(0.9);
}

.topAppBar {
  vertical-align: middle;
  z-index: 15;
  width: 100vw;
}

.topAppBar .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #E0E0E0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.modalContent {
  background-color: var(--background-color-light);
  color: var(--primary-text-color-light);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

[data-theme='dark'] .modalContent {
  background-color: var(--background-color-dark);
  color: var(--primary-text-color-dark);
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "RobotoMono Regular", monospace;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.modalLogo {
  width: 140px;
  height: 140px;
  margin-bottom: 14px;
}

.modalBody {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.6;
}

.modalCloseButton {
  cursor: pointer;
  float: right;
  border: none;
  background: transparent;
  color: var(--secondary-text-color-light);
  font-size: 24px;
}

[data-theme='dark'] .modalCloseButton {
  color: var(--secondary-text-color-dark);
}

.modalCloseButton:hover {
  color: var(--accent-color-light);
}

[data-theme='dark'] .modalCloseButton:hover {
  color: var(--accent-color-dark);
}

.view-toggle-btn {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 24px;
  margin-bottom: 10px;
  z-index: 1000;
  margin-top: 10px;
}

.condensed-card-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

.condensed-icon-div {
  margin-bottom: 4px;
}

.condensed-heart-icon-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.condensed-info-div {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
}

.condensed-card-title-div {
  display: flex;
  flex-direction: column;
}

.condensed-card-body-div {
  display: flex;
  flex-direction: column;
}